<p id="notice"><%= notice %></p>

<p>
  <strong>Customername:</strong>
  <%= @customer.customername %>
</p>

<p>
  <strong>Contactname:</strong>
  <%= @customer.contactname %>
</p>

<p>
  <strong>Address:</strong>
  <%= @customer.address %>
</p>

<p>
  <strong>City:</strong>
  <%= @customer.city %>
</p>

<p>
  <strong>Postalcode:</strong>
  <%= @customer.postalcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @customer.country %>
</p>

<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>
